@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FFCB77;
}

body::-webkit-scrollbar {
  width: 1vh;
}

body::-webkit-scrollbar-track {
  background: #FFCB77;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid #ffffff;
}

.l-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 105vh;
}

.l-s1 .l-left-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65vw;
}

.l-s1 .l-left-s1 h1 {
  font-size: 9vh;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.l-s1 .l-left-s1 img {
  width: 39vw;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.l-s1 .l-right-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45vw;
}

.l-s1 .l-right-s1 .l-about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 18vh;
  background-color: #ffffff;
  width: 55vh;
  height: 55vh;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.l-s1 .l-right-s1 .l-about-wrapper h1 {
  padding-top: 4vh;
  padding-left: 4vh;
  font-size: 5vh;
  color: #ebb154;
  font-weight: 800;
  letter-spacing: 2px;
}

.l-s1 .l-right-s1 .l-about-wrapper p {
  padding-left: 4vh;
  padding-right: 2vh;
  padding-top: 3vh;
  font-size: 2.5vh;
  color: #ebb154;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 3.5vh;
}

.l-s1 .l-right-s1 .l-projectstack-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
  background-color: #ffffff;
  width: 55vh;
  height: 10vh;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.l-s1 .l-right-s1 .l-projectstack-wrapper p {
  font-size: 2.5vh;
  color: #ebb154;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 4vh;
}

.l-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75vh;
  background: #ffffff;
}

.l-s2 .l-left-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-s2 .l-left-s2 .l-challenge-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-s2 .l-left-s2 .l-challenge-wrapper h1 {
  font-size: 5vh;
  color: #ebb154;
  font-weight: 800;
  letter-spacing: 2px;
}

.l-s2 .l-left-s2 .l-challenge-wrapper p {
  width: 90%;
  padding-top: 2vh;
  font-size: 2.5vh;
  color: #ebb154;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 3.5vh;
  text-align: center;
}

.l-s2 .l-right-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65vw;
}

.l-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75vh;
}

.l-s3 .l-left-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65vw;
}

.l-s3 .l-right-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-s3 .l-right-s3 .l-solution-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-s3 .l-right-s3 .l-solution-wrapper h1 {
  font-size: 6vh;
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 2px;
}

.l-s3 .l-right-s3 .l-solution-wrapper p {
  width: 90%;
  padding-top: 2vh;
  font-size: 3vh;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 3.5vh;
  text-align: center;
}

.l-slider {
  width: 55vw;
  height: 65vh;
  overflow: hidden;
}

.l-slides {
  width: 500%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.l-slides input {
  display: none;
}

.l-slide {
  width: 20%;
  -webkit-transition: 3s;
  transition: 3s;
}

.l-slide img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 55vw;
  height: 65vh;
}

/*css for manual slide navigation*/
.l-navigation-manual {
  position: absolute;
  width: 55vw;
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-manual-btn {
  border: 2px solid #ebb154;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.l-manual-btn:not(:last-child) {
  margin-right: 40px;
}

.l-manual-btn:hover {
  background: #FFCB77;
}

#l-radio1:checked ~ .first {
  margin-left: 0;
}

#l-radio2:checked ~ .first {
  margin-left: -20%;
}

#l-radio3:checked ~ .first {
  margin-left: -40%;
}

#l-radio4:checked ~ .first {
  margin-left: -60%;
}

.l-s3-slider {
  width: 55vw;
  height: 65vh;
  overflow: hidden;
}

.l-s3-slides {
  width: 500%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.l-s3-slides input {
  display: none;
}

.l-s3-slide {
  width: 20%;
  -webkit-transition: 3s;
  transition: 3s;
}

.l-s3-slide img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 55vw;
  height: 65vh;
}

/*css for manual slide navigation*/
.l-s3-navigation-manual {
  position: absolute;
  width: 55vw;
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-s3-manual-btn {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.l-s3-manual-btn:not(:last-child) {
  margin-right: 40px;
}

.l-s3-manual-btn:hover {
  background: #ffffff;
}

#l-s3-radio1:checked ~ .first {
  margin-left: 0;
}

#l-s3-radio2:checked ~ .first {
  margin-left: -20%;
}

#l-s3-radio3:checked ~ .first {
  margin-left: -40%;
}

#l-s3-radio4:checked ~ .first {
  margin-left: -60%;
}

@media (max-width: 1025px) {
  .l-s1 .l-left-s1 h1 {
    font-size: 18vw;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
  .l-s1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 165vh;
  }
  .l-s1 .l-left-s1 {
    width: 100vw;
  }
  .l-s1 .l-left-s1 img {
    width: 90vw;
  }
  .l-s1 .l-right-s1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
  }
  .l-s1 .l-right-s1 .l-about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 25vw;
    background-color: #ffffff;
    width: 100vw;
    height: auto;
    padding-bottom: 5vw;
  }
  .l-s1 .l-right-s1 .l-projectstack-wrapper {
    margin-top: 5vw;
    background-color: #ffffff;
    width: 100vw;
    height: 20vw;
  }
  .l-s1 .l-right-s1 .l-projectstack-wrapper p {
    font-size: 4.5vw;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 4vh;
  }
  .l-s1 .l-right-s1 .l-about-wrapper p {
    padding-left: 4vh;
    padding-right: 2vh;
    padding-top: 3vh;
    font-size: 4.5vw;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 3.5vh;
  }
  .l-s1 .l-right-s1 .l-about-wrapper h1 {
    padding-top: 4vh;
    padding-left: 4vh;
    font-size: 10vw;
    font-weight: 800;
    letter-spacing: 2px;
  }
  .l-s2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffffff;
  }
  .l-s2 .l-left-s2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .l-s2 .l-left-s2 .l-challenge-wrapper h1 {
    padding-top: 5vw;
  }
  .l-s2 .l-left-s2 .l-challenge-wrapper p {
    padding-bottom: 5vw;
  }
  .l-s2 .l-right-s2 {
    width: 100vw;
  }
  .l-slides {
    height: 50vh;
  }
  .l-slider {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
  }
  .l-slide img {
    width: 100vw;
    height: 40vh;
  }
  .l-navigation-manual {
    position: relative;
    width: 100vw;
    /* margin-top: 1vh; */
    display: -webkit-box;
    top: -10vh;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
  }
  .l-s3 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .l-s3 .l-right-s3 {
    width: 100vw;
    padding-top: 5vw;
  }
  .l-s3 .l-right-s3 .l-solution-wrapper h1 {
    font-size: 12vw;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 2px;
  }
  .l-s3 .l-right-s3 .l-solution-wrapper p {
    font-size: 5vw;
  }
  .l-s3-slides {
    height: 50vh;
  }
  .l-s3-slider {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
  }
  .l-s3-slide img {
    width: 100vw;
    height: 40vh;
  }
  .l-s3-navigation-manual {
    position: relative;
    width: 100vw;
    /* margin-top: 1vh; */
    display: -webkit-box;
    top: -10vh;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
  }
  .l-s3 .l-left-s3 {
    width: 100vw;
  }
}
/*# sourceMappingURL=luna.css.map */